
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Employee.cshtml";
}

<ul class="nav nav-pills nav-fill mt-2 gap-2 mb-3">
    <li class="nav-item"><a class=" btn btn-outline-success" href="/Employee/PanCheck">Open an Account</a></li>
    <li class="nav-item"><a class="btn btn-outline-danger" href="/Employee/CloseAccount">Close an account</a></li>
    <li class="nav-item"><a class=" btn btn-outline-success" href="/Employee/ViewTransactions">View Transactions</a></li>
    <li class="nav-item"><a class=" btn btn-outline-secondary" href="/Employee/Withdraw">Withdraw</a></li>
    <li class="nav-item"><a class=" btn btn-outline-secondary" href="/Employee/Deposit">Deposit</a></li>
</ul>

